*/.gitignore

*/.idea/
*/data-dev/
*/etc/
*/out/
*/target/
*/web-app/WEB-INF/classes/

*/.settings/
*/bin/
*/data/
*/doc/
*/logs/

*/*.sdf
*/*.suo
*/Debug/
*/ipch/
*/*/Debug/
*/*.ReSharper.user
*/_ReSharper.*/
