*/.gitignore

*.exe.stackdump

*/.idea/
*/data-dev/
*/etc/
*/out/
*/target/
*/web-app/WEB-INF/classes/

*/.settings/
*/bin/
*/data/
*/doc/
*/logs/

*/*.opensdf
*/*.sdf
*/*.suo
*/Debug/
*/Release/
*/ipch/
*/*/Debug/
*/*/Release/
*/*.ReSharper.user
*/_ReSharper.*/
